<ul class="list-group">
  <!-- items in cart -->
  <li class="list-group-item" ng-repeat="item in cart.items">
    <div class="row">
      <div class="col-md-3">
        <span>{{product[item.id].name}}</span>
      </div>
      <div class="col-md-3 text-center">
        <!-- TODO: sanitize quantity (with ruby), i.e. quantity must >= 1 -->
        <button class="btn btn-default btn-xs" ng-click="item.quantity = item.quantity - 1" ng-disabled="item.quantity == 1">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
        <span ng-click="customQuantity(item)">{{item.quantity}}</span>
        <button class="btn btn-default btn-xs" ng-click="item.quantity = item.quantity + 1">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
      <div class="col-md-3 text-center">
        <span>{{product[item.id].price * item.quantity | currency:'฿':0}}</span>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-danger btn-xs pull-right" ng-click="deleteCartItem(item)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </li>
  <!-- combos in cart -->
  <li class="list-group-item" ng-repeat="item in cart.combos">
    <div class="row">
      <div class="col-md-3">
        <span>{{combo[item.id].name}}</span>
        <ul>
          <li ng-repeat="name in comboItems(item.id, item.selected) track by $index">
            {{name}}
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-center">
        <span>1</span>
      </div>
      <div class="col-md-3 text-center">
        <span>{{combo[item.id].price | currency:'฿':0}}</span>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-danger btn-xs pull-right" ng-click="deleteCartCombo(item)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </li>
</ul>

<%= form_tag save_path, class: 'row' do %>
  <div class="col-md-6">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <input type="text" name="customer[name]" class="form-control" required placeholder="Customer Name..." ng-model="customer.name">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <textarea name="customer[info]" class="form-control fixed" rows="3" placeholder="Student ID or Mobile Phone Number or Any form of reference..." ng-model="customer.info" required></textarea>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Total {{cartTotal() | currency:'฿':0}}</h1>
    <button class="btn btn-lg btn-danger" type="button" data-toggle="modal" data-target="#clearModal" ng-disabled="cartIsEmpty() && customer.name == '' && customer.info == ''">Clear</button>
    <button class="btn btn-lg btn-success" type="submit" ng-disabled="cartIsEmpty()">Checkout</button>
  </div>
  <% if @order.id %>
    <input type="hidden" name="id" value="<%= @order.id %>">
  <% end %>
  <input type="hidden" name="cart" value="{{cart}}">
<% end %>

<%= render(partial: 'clear_modal') %>
