<div class="modal fade" id="comboModal" tabindex="-1">
  <div class="modal-dialog">
    <form class="modal-content" ng-submit="addCombo2Cart()" do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{currentCombo.name}}</h4>
      </div>
      <div class="modal-body">
        <!-- TODO: don't trust user's form input, i.e. validate them again on server side -->
        <ul>
          <li ng-repeat="(itemIndex, item) in currentCombo.products">
            <span ng-if="!isArray(item)">{{product[item].name}}</span>
            <div class="choice" ng-if="isArray(item)">
              <span>Select one item from the list</span>
              <div class="radio" ng-repeat="choice in item">
                <label>
                  <input type="radio" name="choice-{{itemIndex}}" value="{{$index}}" required>
                  {{product[choice].name}}
                </label>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add to cart</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>
</div>