<form class="pos-search-box" ng-submit="addById()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter ID..." ng-model="search.id">
    <span class="glyphicon glyphicon-plus"></span>
  </div>
</form>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#products" data-toggle="tab">Products</a></li>
  <li role="presentation"><a href="#combos" data-toggle="tab">Combos</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content pos-tab">
  <div class="tab-pane active" id="products">
    <!-- TODO: use flexbox -->
    <div class="pos-product-item" ng-repeat="item in products | filter:search:comp as result">
      <!-- TODO: use real icons instead of placeholders -->
      <p><span class="glyphicon glyphicon-picture"></span></p>
      <p>{{item.name}}</p>
      <p>{{item.price | currency:'฿':0}}</p>
      <button class="btn btn-default" ng-click="addProduct2Cart(item)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
  <div class="tab-pane" id="combos">
    <div class="pos-product-item" ng-repeat="item in combos | filter:search">
      <p><span class="glyphicon glyphicon-picture"></span></p>
      <p>{{item.name}}</p>
      <p>{{item.price | currency:'฿':0}}</p>
      <!-- TODO: modal can't exit by pressing ESC -->
      <button class="btn btn-default" ng-click="showComboModal(item)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
</div>

<!-- comboModal -->
<div class="modal fade" id="comboModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{currentCombo.name}}</h4>
      </div>
      <div class="modal-body">
        <!-- TODO: don't trust user's form input, i.e. validate them again on server side -->
        <ul>
          <li ng-repeat="(itemIndex, item) in currentCombo.products">
            <span ng-if="item.type == 'item'">{{item.name}}</span>
            <div class="choice" ng-if="item.type == 'choice'">
              <span>เลือกหนึ่งชิ้น</span>
              <div class="radio" ng-repeat="choice in item.choices">
                <label>
                  <input type="radio" name="choice-{{itemIndex}}" value="{{$index}}">
                  {{choice.name}}
                </label>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="addCombo2Cart()">Add to cart</button>
      </div>
    </div>
  </div>
</div>
