<form class="pos-search-box" ng-submit="addById()">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Enter ID..." ng-model="search.id">
    <span class="glyphicon glyphicon-plus"></span>
  </div>
</form>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#products" data-toggle="tab">Products</a></li>
  <li role="presentation"><a href="#combos" data-toggle="tab">Combos</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content pos-tab">
  <div class="tab-pane active" id="products">
    <!-- TODO: use flexbox -->
    <div class="pos-product-item" ng-repeat="item in products | filter:search:comp as result">
      <!-- TODO: use real icons instead of placeholders -->
      <p>
        <!-- TODO: using id 0 is a hack ;) -->
        <img src="<%= product_img_path(0) %>{{item.id}}" style="height:50px">
      </p>
      <p>{{item.name}}</p>
      <p>{{item.price | currency:'฿':0}}</p>
      <button class="btn btn-default" ng-click="addProduct2Cart(item)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
  <div class="tab-pane" id="combos">
    <div class="pos-product-item" ng-repeat="item in combos | filter:search">
      <p><span class="glyphicon glyphicon-picture"></span></p>
      <p>{{item.name}}</p>
      <p>{{item.price | currency:'฿':0}}</p>
      <!-- TODO: modal can't exit by pressing ESC -->
      <button class="btn btn-default" ng-click="showComboModal(item)">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
</div>

<%= render(partial: 'combo_modal') %>
