<div class="row" ng-app="samarnmitrPOS" ng-controller="POSCtrl" ng-init="cart2Load = 0">
  <div class="col-md-6">
    <%= render(partial: 'product_list') %>
  </div>
  <div class="col-md-6">
    <%= render(partial: 'cart') %>
  </div>
</div>
