<div class="row" ng-app="samarnmitrPOS" ng-controller="POSCtrl">
  <div class="col-md-6 pos-items">
    <%= render(partial: 'product_list') %>
  </div>
  <div class="col-md-6">
    <%= render(partial: 'cart') %>
  </div>
</div>
